.parent{
    height:300px;
    width:300px;
    background-color:yellow;
    position:relative;
  }
  .div1{
     height:30px;
    width:30px;
    background-color:green;
  }
  .div2{
    position:absolute;
    top:0;
    right:0;
    height:30px;
    width:30px;
    background-color:red;
  }
  .div3{
     position:absolute;
    bottom:0;
    left:0;
     height:30px;
    width:30px;
    background-color:black;
  }
  .div4{
     position:absolute;
    bottom:0;
    right:0;
     height:30px;
    width:30px;
    background-color:blue;
  }
  .div5{
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    margin:auto;
     height:30px;
    width:30px;
    background-color:blue;
      
  }